html,
body {
  margin: 0;
}

h3 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: monospace;
  margin: 1rem 0;
  padding: 0 0 1rem 0;
  font-size: 25px;
  box-shadow: 0 8px 6px -6px rgb(136, 136, 136);
}

button {
  z-index: 1;
}
